<p>ぼくは現在、初心者向けのプログラミングレッスンをしています。</p>
<p>将来的には、ぼくのレッスンからフリープログラマーとして活躍する人を生み出せるようにしようと考えています。</p>
<p>まずは、ぼく自身が自分のウェブサービスを立ち上げられるようになり、プログラマーとして活躍できるように頑張ります。</p>
<p>プログラミングスキルを身につけて、もっと稼げる人間になります！</p>