.comment {
  background-color: #990000;
  height: 400px;
  width: 478px;
  padding: 10px;
}

.comment h3 {
  margin: 10px;
  color: white;
}

.comment input {
  float: left;
  margin: 10px;
  width: 400px;
}

.comment textarea {
  float: left;
  margin: 10px;
  width: 400px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  /* 以下の2行を28行目付近に移動してください */
  float: left;
  padding: 33px 20px;

}

a  {
  	text-decoration:none;
  	color: white;
}

.header {
  background-color: #990000	;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}


/* header-listの中のli要素にのみ適用したいCSSを記述してください */


.main {
  float: left;
  background-image: url(images/laptop.jpg);
}

.submain {
	margin: 20px;
	float: left;
	width: 400px;
}

.submain a {
	color:blue;
}

.contents {
  clear:both;
  line-height: 20px;
  width: 800px;
}

.footer {
  background-color: #ceccf3;
  clear:both;
}
